body {
    margin: 0; 
    background: #ffffff;
}
  
  .screen a {
    display: contents;
    text-decoration: none;
  }
  
  .centered-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
  }
  
  .centered-container > * {
    flex-shrink: 0;
    pointer-events: auto;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .form-callback {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 825px;
    padding: 137px 0;
    width: 1334px;
  }
  
  .form-callback .outer-container {
    display: flex;
    margin-top: 110px;
    width: 646px;
  }
  
  .form-callback .heading-container {
    display: flex;
    width: 648px;
  }
  
  .form-callback .heading {
    color: transparent;
    font-family: var(--font-family-gilroy-regular);
    font-size: 64px;
    font-weight: 400;
    height: 118px;
    letter-spacing: -2.88px;
    line-height: 55.4px;
    text-align: center;
    width: 646px;
  }
  
  .form-callback .heading-text {
    color: #28282f;
  }
  
  .form-callback .heading-punc {
    color: #ea6aff;
    font-size: 70px;
    letter-spacing: -3.15px;
    line-height: 60.6px;
  }
  
  .form-callback .overlap-group {
    height: 312px;
    margin-top: 6px;
    position: relative;
    width: 650px;
  }
  
  .form-callback .home-button {
    background-color: #efdafc66;
    font-family: var(--font-family-gilroy-regular);
    font-size: 22px;
    font-weight: 400;
    border-radius: 11px;
    letter-spacing: -0.11px;
    line-height: 24.6px;
    text-align: center;
    height: 64px;
    left: 237px;
    overflow: hidden;
    position: absolute;
    top: 142px;
    width: 176px;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-callback .subtitle {
    color: black;
    font-family: var(--font-family-gilroy-light-regular);
    font-size: 23px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.57px;
    line-height: 35.3px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 650px;
  }
  