/* Floating animations setup */

@keyframes float {
	0% {
		transform: translatey(0px) translatex(0px);
	}
	50% {
		transform: translatey(-10px) translatex(5px);
	}
	100% {
		transform: translatey(0px) translatex(0px);
	}
}

@keyframes float-two {
	0% {
		transform: translatey(0px) translatex(0px);
	}
	50% {
		transform: translatey(12px) translatex(7px);
	}
	100% {
		transform: translatey(0px) translatex(0px);
	}
}

@keyframes float-three {
	0% {
		transform: translatey(0px) translatex(0px);
	}
	50% {
		transform: translatey(12px) translatex(8px);
	}
	100% {
		transform: translatey(0px) translatex(0px);
	}
}

@keyframes float-four {
	0% {
		transform: translatey(0px) translatex(0px);
	}
	50% {
		transform: translatey(15px) translatex(-10px);
	}
	100% {
		transform: translatey(0px) translatex(0px);
	}
}

@keyframes float-five {
	0% {
		transform: translatey(0px) translatex(0px);
	}
	50% {
		transform: translatey(8px) translatex(-7px);
	}
	100% {
		transform: translatey(0px) translatex(0px);
	}
}

{
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 3881px;
    padding: 38px 37px;
    width: 1440px;
  }
  
  .landing-overlap-group {
    align-self: flex-start;
    height: 1096px;
    position: relative;
    width: 1346px;
  }
  
  .nav-group {
    align-items: flex-start;
    display: flex;
    height: 1096px;
    justify-content: flex-end;
    left: 0;
    min-width: 1346px;
    padding: 68px 0;
    position: absolute;
    top: 0;
  }
  
  .logo {
    height: 47px;
    width: 75px;
  }
  
  .nav-overlap-group {
    height: 943px;
    margin-left: 21px;
    margin-top: 1px;
    position: relative;
    width: 1260px;
  }
  
  .nav {
    align-items: flex-end;
    display: flex;
    height: 48px;
    left: 0;
    min-width: 623px;
    position: absolute;
    top: 0;
  }
  
  .agency-name {
    color: #272424;
    font-family: var(--font-family-gilroy-medium);
    font-size: 29px;
    font-weight: 400;
    letter-spacing: 0;
    min-height: 43px;
    width: 104px;
  }
  
  .services-link {
    letter-spacing: 0;
    margin-bottom: 2px;
    margin-left: 30px;
    min-height: 38px;
    width: 107px;
  }
  
  .line-1 {
    align-self: flex-start;
    height: 37px;
    margin-left: 6px;
    width: 1px;
  }
  
  .surname {
    letter-spacing: 0;
    margin-bottom: 2px;
    margin-left: 29px;
    min-height: 38px;
    width: 146px;
  }
  
  .line-2 {
    align-self: flex-start;
    height: 37px;
    margin-left: 14px;
    width: 1px;
  }
  
  .portfolio {
    letter-spacing: 0;
    margin-bottom: 2px;
    margin-left: 31px;
    min-height: 38px;
    width: 146px;
  }
  
  .side-graphics {
    height: 938px;
    left: 546px;
    position: absolute;
    top: 5px;
    width: 714px;
  }
  
  .rectangle-bg {
    background-image: url(../img/57-1@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 44px;
    display: flex;
    height: 937px;
    left: 85px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 574px;
  }
  
  .rectangle {
    height: 937px;
    width: 574px;
  }
  
  .ornament-11 {
    height: 300px;
    left: 15px;
    position: absolute;
    top: 566px;
    width: 292px;
    transform: translatey(0px) translatex(0px);
    animation: float-three 7s ease-in-out infinite;
  }
  
  .ornament-18 {
    height: 70px;
    left: 244px;
    position: absolute;
    top: 868px;
    width: 164px;
    transform: translatey(0px) translatex(0px);
    animation: float 6s ease-in-out infinite;
  }
  
  .ornament-20 {
    height: 105px;
    left: 202px;
    position: absolute;
    top: 61px;
    width: 153px;
    transform: translatey(0px) translatex(0px);
    animation: float-two 6s ease-in-out infinite;
  }
  
  .ornament-17 {
    height: 145px;
    left: 0;
    position: absolute;
    top: 219px;
    width: 222px;
    transform: translatey(0px) translatex(0px);
    animation: float 6s ease-in-out infinite;
  }
  
  .ornament-21 {
    height: 33px;
    left: 417px;
    position: absolute;
    top: 585px;
    width: 294px;
    transform: translatey(0px) translatex(0px);
    animation: float-five 6s ease-in-out infinite;
  }
  
  .ornament-22 {
    height: 102px;
    left: 435px;
    position: absolute;
    top: 621px;
    width: 262px;
    transform: translatey(0px) translatex(0px);
    animation: float-two 6s ease-in-out infinite;
  }
  
  .ornament-23 {
    height: 88px;
    left: 543px;
    position: absolute;
    top: 656px;
    width: 171px;
    transform: translatey(0px) translatex(0px);
    animation: float-four 6s ease-in-out infinite;
    animation-delay: 1;
  }
  
  .ornament-12 {
    height: 281px;
    left: 433px;
    position: absolute;
    top: 170px;
    width: 281px;
    transform: translatey(0px) translatex(0px);
    animation: float-four 6s ease-in-out infinite;
    animation-delay: 0.5;
  }
  
  .title {
    -webkit-text-stroke: 1px black;
    color: white;
    font-family: var(--font-family-gilroy-semibold);
    font-size: 113px;
    font-weight: 400;
    left: 68px;
    letter-spacing: -2.83px;
    line-height: 141.2px;
    position: absolute;
    top: 241px;
    white-space: nowrap;
    width: 573px;
  }
  
  .main-subtitle {
    left: 80px;
    letter-spacing: 0.57px;
    line-height: 35.3px;
    position: absolute;
    top: 405px;
    width: 449px;
  }
  
  .scroll-icon {
    height: 32px;
    left: 89px;
    position: absolute;
    top: 979px;
    width: 32px;
  }
  
  .scroll-text {
    color: var(--black);
    font-family: var(--font-family-gilroy-thin);
    font-size: 20px;
    font-weight: 400;
    left: 126px;
    letter-spacing: -0.10px;
    line-height: 22.4px;
    position: absolute;
    top: 986px;
    white-space: nowrap;
    width: 275px;
  }
  
  .get-in-touch-button {
    background: linear-gradient(180deg, rgb(248, 220, 224) 0%, rgb(245, 221, 231) 11.66%, rgb(239, 222, 239) 24%, rgb(236, 223, 245) 35.75%, rgb(230, 224, 254) 47.94%, rgb(233, 223, 255) 58.39%, rgb(236, 220, 253) 69.13%, rgb(239, 218, 252) 80.01%, rgb(243, 216, 251) 89.74%, rgb(245, 214, 250) 100%);
    border-radius: 11px;
    display: flex;
    height: 64px;
    left: 80px;
    overflow: hidden;
    position: absolute;
    top: 758px;
    width: 200px;
    cursor: pointer;
  }
  
  .get-in-touch {
    height: 25px;
    letter-spacing: -0.11px;
    line-height: 24.6px;
    margin-left: 31px;
    margin-top: 21px;
    white-space: nowrap;
    width: 138px;
  }
  
  .services-list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 70px;
    min-height: 531px;
    width: 1018px;
  }
  
  .list-overlap-group {
    height: 124px;
    margin-left: -1px;
    position: relative;
    width: 1012px;
  }
  
  .design {
    -webkit-text-stroke: 1px var(--black);
    left: 0;
    letter-spacing: 1.88px;
    line-height: 115.1px;
    position: absolute;
    top: 27px;
    white-space: nowrap;
    width: 1012px;
  }
  
  .service {
    left: 6px;
    letter-spacing: 0.53px;
    line-height: 32.2px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 79px;
  }
  
  .service-description {
    letter-spacing: 0.70px;
    line-height: 46.1px;
    margin-top: 30px;
    min-height: 307px;
    width: 537px;
  }
  
  .learn-more-button {
    background: linear-gradient(180deg, rgb(248, 220, 224) 0%, rgb(245, 221, 231) 11.66%, rgb(239, 222, 239) 24%, rgb(236, 223, 245) 35.75%, rgb(230, 224, 254) 47.94%, rgb(233, 223, 255) 58.39%, rgb(236, 220, 253) 69.13%, rgb(239, 218, 252) 80.01%, rgb(243, 216, 251) 89.74%, rgb(245, 214, 250) 100%);
    border-radius: 11px;
    display: flex;
    height: 64px;
    margin-top: 6px;
    overflow: hidden;
    width: 200px;
    cursor: pointer;
  }
  
  .learn-more {
    height: 37px;
    letter-spacing: -0.12px;
    line-height: 26.9px;
    margin-left: 22px;
    margin-top: 20px;
    width: 167px;
  }
  
  .development-service {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 110px;
    min-height: 570px;
    width: 1018px;
  }
  
  .development {
    -webkit-text-stroke: 1px var(--black);
    left: 0;
    letter-spacing: 1.88px;
    line-height: 115.1px;
    position: absolute;
    top: 27px;
    white-space: nowrap;
    width: 1012px;
  }
  
  .development-service-description {
    letter-spacing: 0.70px;
    line-height: 46.1px;
    margin-top: 52px;
    min-height: 307px;
    width: 537px;
  }
  
  .development-learn-button {
    background: linear-gradient(180deg, rgb(248, 220, 224) 0%, rgb(245, 221, 231) 11.66%, rgb(239, 222, 239) 24%, rgb(236, 223, 245) 35.75%, rgb(230, 224, 254) 47.94%, rgb(233, 223, 255) 58.39%, rgb(236, 220, 253) 69.13%, rgb(239, 218, 252) 80.01%, rgb(243, 216, 251) 89.74%, rgb(245, 214, 250) 100%);
    border-radius: 11px;
    display: flex;
    height: 64px;
    margin-top: 23px;
    overflow: hidden;
    width: 200px;
    cursor: pointer;
  }
  
  .management-service-group {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 126px;
    min-height: 560px;
    width: 1018px;
  }
  
  .management {
    -webkit-text-stroke: 1px var(--black);
    left: 0;
    letter-spacing: 1.88px;
    line-height: 115.1px;
    position: absolute;
    top: 27px;
    white-space: nowrap;
    width: 1012px;
  }
  
  .management-service-description {
    letter-spacing: 0.70px;
    line-height: 46.1px;
    margin-top: 50px;
    min-height: 307px;
    width: 537px;
  }
  
  .management-learn-button {
    background: linear-gradient(180deg, rgb(248, 220, 224) 0%, rgb(245, 221, 231) 11.66%, rgb(239, 222, 239) 24%, rgb(236, 223, 245) 35.75%, rgb(230, 224, 254) 47.94%, rgb(233, 223, 255) 58.39%, rgb(236, 220, 253) 69.13%, rgb(239, 218, 252) 80.01%, rgb(243, 216, 251) 89.74%, rgb(245, 214, 250) 100%);
    border-radius: 11px;
    display: flex;
    height: 64px;
    margin-top: 15px;
    overflow: hidden;
    width: 200px;
    cursor: pointer;
  }
  
  .cta-text {
    -webkit-text-stroke: 1px var(--black);
    align-self: flex-end;
    color: transparent;
    font-family: var(--font-family-gilroy-semibold);
    font-size: 78px;
    font-weight: 400;
    letter-spacing: -0.39px;
    line-height: 77.2px;
    margin-right: 24px;
    margin-top: 179px;
    min-height: 254px;
    text-align: center;
    width: 1234px;
  }
  
  .cta-span {
    color: var(--black);
  }
  
  .cta-subtitle {
    color: var(--black);
    font-family: var(--font-family-gilroy-thin);
    font-size: 23px;
    font-weight: 400;
    letter-spacing: -0.12px;
    line-height: 22.8px;
    margin-left: 400px;
    margin-top: -10px;
    min-height: 53px;
    text-align: center;
    width: 590px;
  }
  
  .cta-button {
    background: linear-gradient(180deg, rgb(248, 220, 224) 0%, rgb(245, 221, 231) 11.66%, rgb(239, 222, 239) 24%, rgb(236, 223, 245) 35.75%, rgb(230, 224, 254) 47.94%, rgb(233, 223, 255) 58.39%, rgb(236, 220, 253) 69.13%, rgb(239, 218, 252) 80.01%, rgb(243, 216, 251) 89.74%, rgb(245, 214, 250) 100%);
    border-radius: 11px;
    display: flex;
    height: 64px;
    margin-left: 600px;
    margin-top: 10px;
    overflow: hidden;
    width: 200px;
    cursor: pointer;
  }
  
  .get-in-touch-1 {
    height: 37px;
    letter-spacing: -0.12px;
    line-height: 26.9px;
    margin-left: 33px;
    margin-top: 21px;
    width: 144px;
  }
  
  .all-rights-reserved {
    letter-spacing: -0.10px;
    line-height: 23.5px;
    margin-left: 550.0px;
    margin-top: 75px;
    min-height: 32px;
    width: 352px;
  }
  

.centered-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
  }
  
  .centered-main-container > * {
    flex-shrink: 0;
    pointer-events: auto;
  }

  .gilroy-light--normal-black-21px {
    color: var(--black);
    font-family: var(--font-family-gilroy-light);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gilroy-bold-regular-normal-white-78px {
    color: var(--white);
    font-family: var(--font-family-gilroy-semibold);
    font-size: 78px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gilroy-thin-regular-normal-black-21px {
    color: var(--black);
    font-family: var(--font-family-gilroy-thin);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gilroy-regular--normal-black-24px {
    color: var(--black);
    font-family: var(--font-family-gilroy-regular);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gilroy-light--normal-black-23px {
    color: var(--black);
    font-family: var(--font-family-gilroy-light);
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
  }
  
  .poppins-normal-black-22px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gilroy-bold-regular-normal-cod-gray-78px {
    color: var(--cod-gray);
    font-family: var(--font-family-gilroy-semibold);
    font-size: 78px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gilroy-light--normal-shark-21px {
    color: var(--shark);
    font-family: var(--font-family-gilroy-light);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gilroy-semibold-regular-normal-white-75px {
    font-family: var(--font-family-gilroy-semibold);
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gilroy-semibold-regular-normal-white-75px-2 {
    color: var(--white);
    font-family: var(--font-family-gilroy-semibold);
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gilroy-semibold-regular-normal-black-75px {
    color: var(--black);
    font-family: var(--font-family-gilroy-semibold);
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gilroy-light--normal-black-28px {
    color: var(--black);
    font-family: var(--font-family-gilroy-light);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gilroy-semibold-regular-normal-black-21px {
    color: var(--black);
    font-family: var(--font-family-gilroy-semibold);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gilroy-light-regular-normal-black-21px {
    color: var(--black);
    font-family: var(--font-family-gilroy-light);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
  }

/* Floating animations setup */

@keyframes float {
	0% {
		transform: translatey(0px) translatex(0px);
	}
	50% {
		transform: translatey(-10px) translatex(5px);
	}
	100% {
		transform: translatey(0px) translatex(0px);
	}
}

@keyframes float-two {
	0% {
		transform: translatey(0px) translatex(0px);
	}
	50% {
		transform: translatey(12px) translatex(7px);
	}
	100% {
		transform: translatey(0px) translatex(0px);
	}
}

@keyframes float-three {
	0% {
		transform: translatey(0px) translatex(0px);
	}
	50% {
		transform: translatey(12px) translatex(8px);
	}
	100% {
		transform: translatey(0px) translatex(0px);
	}
}

@keyframes float-four {
	0% {
		transform: translatey(0px) translatex(0px);
	}
	50% {
		transform: translatey(15px) translatex(-10px);
	}
	100% {
		transform: translatey(0px) translatex(0px);
	}
}

@keyframes float-five {
	0% {
		transform: translatey(0px) translatex(0px);
	}
	50% {
		transform: translatey(8px) translatex(-7px);
	}
	100% {
		transform: translatey(0px) translatex(0px);
	}
}

.ornament-11 {
  height: 300px;
  left: 561px;
  position: absolute;
  top: 591px;
  width: 292px;
  transform: translatey(0px) translatex(0px);
  animation: float-three 7s ease-in-out infinite;
}

.ornament-18 {
  height: 70px;
  left: 790px;
  position: absolute;
  top: 893px;
  width: 164px;
  transform: translatey(0px) translatex(0px);
  animation: float 6s ease-in-out infinite;
}

.ornament-20 {
  height: 105px;
  left: 748px;
  position: absolute;
  top: 86px;
  width: 153px;
  transform: translatey(0px) translatex(0px);
  animation: float-two 6s ease-in-out infinite;
}

.ornament-17 {
  height: 145px;
  left: 546px;
  position: absolute;
  top: 244px;
  width: 222px;
  transform: translatey(0px) translatex(0px);
  animation: float 6s ease-in-out infinite;
}

.ornament-21 {
  height: 33px;
  left: 963px;
  position: absolute;
  top: 610px;
  width: 294px;
  transform: translatey(0px) translatex(0px);
  animation: float-five 6s ease-in-out infinite;
}

.ornament-22 {
  height: 102px;
  left: 981px;
  position: absolute;
  top: 646px;
  width: 262px;
  transform: translatey(0px) translatex(0px);
  animation: float-two 6s ease-in-out infinite;
}

.ornament-23 {
  height: 88px;
  left: 1089px;
  position: absolute;
  top: 681px;
  width: 171px;
  transform: translatey(0px) translatex(0px);
  animation: float-four 6s ease-in-out infinite;
  animation-delay: 1;
}

.ornament-12 {
  height: 281px;
  left: 979px;
  position: absolute;
  top: 195px;
  width: 281px;
  transform: translatey(0px) translatex(0px);
  animation: float-four 6s ease-in-out infinite;
  animation-delay: 0.5;
}

.about-us {
    background-color: white;
    height: 3965px;
    position: relative;
    width: 1440px;
  }
  
  .about-us .flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 47px;
    min-height: 1637px;
    position: absolute;
    top: 27px;
    width: 1346px;
  }
  
  .about-us .heading-overlap {
    height: 1096px;
    position: relative;
    width: 1346px;
  }
  
  .about-us .main-heading {
    -webkit-text-stroke: 1px black;
    color: white;
    font-family: "Gilroy-Black";
    font-size: 90px;
    font-weight: 400;
    left: 58px;
    letter-spacing: 1.13px;
    line-height: 141.2px;
    position: absolute;
    top: 252px;
    white-space: nowrap;
    width: 573px;
  }
  
  .about-us .main-subtitle {
    color: black;
    font-family: var(--font-family-gilroy-light);
    font-size: 23px;
    font-weight: 400;
    left: 61px;
    letter-spacing: 0.57px;
    line-height: 35.3px;
    position: absolute;
    top: 408px;
    width: 449px;
  }
  
  .about-us .scroll-icon {
    height: 33px;
    left: 79px;
    position: absolute;
    top: 994px;
    width: 32px;
  }
  
  .about-us .scroll-text {
    color: black;
    font-family: var(--font-family-gilroy-thin);
    font-size: 20px;
    font-weight: 400;
    left: 116px;
    letter-spacing: -0.10px;
    line-height: 22.4px;
    position: absolute;
    top: 997px;
    white-space: nowrap;
    width: 275px;
  }
  
  .about-us .about-button {
    background: linear-gradient(180deg, rgb(248, 220, 224) 0%, rgb(245, 221, 231) 11.66%, rgb(239, 222, 239) 24%, rgb(236, 223, 245) 35.75%, rgb(230, 224, 254) 47.94%, rgb(233, 223, 255) 58.39%, rgb(236, 220, 253) 69.13%, rgb(239, 218, 252) 80.01%, rgb(243, 216, 251) 89.74%, rgb(245, 214, 250) 100%);
    border-radius: 11px;
    display: flex;
    height: 65px;
    left: 60px;
    overflow: hidden;
    position: absolute;
    top: 786px;
    width: 200px;
    text-align: center;
    z-index: 1;
    cursor: pointer;
  }
  
  .about-us .learn-more {
    height: 25px;
    letter-spacing: -0.11px;
    line-height: 24.6px;
    margin-left: 31px;
    margin-top: 21px;
    white-space: nowrap;
    width: 138px;
  }
  
  .about-us .inner-shared-container {
    align-items: flex-start;
    display: flex;
    height: 1096px;
    justify-content: flex-end;
    left: 0;
    min-width: 1346px;
    padding: 36px 0;
    position: absolute;
    top: 0;
  }
  
  .about-us .logo {
    height: 47px;
    margin-top: 13px;
    width: 75px;
  }
  
  .about-us .overlap-group {
    align-self: flex-end;
    height: 1011px;
    margin-left: 21px;
    position: relative;
    width: 1260px;
  }
  
  .about-us .nav {
    align-items: flex-end;
    display: flex;
    height: 47px;
    left: 0;
    min-width: 623px;
    position: absolute;
    top: 8px;
  }
  
  .about-us .agency-name {
    color: black;
    font-family: var(--font-family-gilroy-medium);
    font-size: 29px;
    font-weight: 400;
    letter-spacing: 0;
    min-height: 43px;
    width: 104px;
  }
  
  .about-us .services {
    letter-spacing: 0;
    margin-left: 20px;
    min-height: 38px;
    width: 107px;
  }
  
  .about-us .line-1 {
    align-self: flex-start;
    height: 37px;
    margin-left: 6px;
    width: 1px;
  }
  
  .about-us .surname {
    letter-spacing: 0;
    margin-left: 29px;
    min-height: 38px;
    width: 146px;
  }
  
  .about-us .line-2 {
    align-self: flex-start;
    height: 37px;
    margin-left: 14px;
    width: 1px;
  }
  
  .about-us .portfolio {
    letter-spacing: 0;
    margin-left: 10px;
    min-height: 38px;
    width: 146px;
  }
  
  .about-us .side-graphic {
    background-image: url(../img/57-1@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 44px;
    display: flex;
    height: 1011px;
    left: 615px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 619px;
  }
  
  .about-us .rectangle {
    height: 1011px;
    width: 619px;
  }
  
  .about-us .ornament-11 {
    height: 300px;
    left: 561px;
    position: absolute;
    top: 591px;
    width: 292px;
  }
  
  .about-us .ornament-18 {
    height: 70px;
    left: 790px;
    position: absolute;
    top: 893px;
    width: 164px;
  }
  
  .about-us .ornament-20 {
    height: 105px;
    left: 748px;
    position: absolute;
    top: 86px;
    width: 153px;
  }
  
  .about-us .ornament-17 {
    height: 145px;
    left: 546px;
    position: absolute;
    top: 244px;
    width: 222px;
  }
  
  .about-us .ornament-21 {
    height: 33px;
    left: 963px;
    position: absolute;
    top: 610px;
    width: 294px;
  }
  
  .about-us .ornament-22 {
    height: 102px;
    left: 981px;
    position: absolute;
    top: 646px;
    width: 262px;
  }
  
  .about-us .ornament-23 {
    height: 88px;
    left: 1089px;
    position: absolute;
    top: 681px;
    width: 171px;
  }
  
  .about-us .ornament-12 {
    height: 281px;
    left: 979px;
    position: absolute;
    top: 195px;
    width: 281px;
  }
  
  .about-us .people-subheading {
    height: 124px;
    margin-left: 78px;
    margin-top: 69px;
    position: relative;
    width: 1012px;
  }
  
  .about-us .people {
    -webkit-text-stroke: 1px black;
    color: transparent;
    font-family: var(--font-family-gilroy-semibold-regular);
    font-size: 75px;
    font-weight: 400;
    left: 0;
    letter-spacing: 1.88px;
    line-height: 115.1px;
    position: absolute;
    top: 27px;
    white-space: nowrap;
    width: 1012px;
  }
  
  .about-us .black-text {
    color: black;
  }
  
  .about-us .white-text {
    color: white;
  }
  
  .about-us .founders-introduction {
    left: 1px;
    letter-spacing: 0.53px;
    line-height: 32.2px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 142px;
  }
  
  .about-us .people-subtitle {
    letter-spacing: 0.57px;
    line-height: 35.3px;
    margin-left: 79px;
    margin-top: 36px;
    min-height: 312px;
    width: 449px;
  }
  
  .about-us .flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 86px;
    min-height: 1067px;
    position: absolute;
    top: 1795px;
    width: 421px;
  }
  
  .about-us .oscar-memoji {
    height: 421px;
    object-fit: cover;
    width: 421px;
  }
  
  .about-us .adem-image {
    height: 400px;
    margin-left: 5px;
    margin-top: 57px;
    object-fit: cover;
    width: 400px;
  }
  
  .about-us .different-subheading {
    letter-spacing: 0.53px;
    line-height: 32.2px;
    margin-left: 52px;
    margin-top: 161px;
    min-height: 28px;
    white-space: nowrap;
  }
  
  .about-us .flex-col-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 532px;
    min-height: 932px;
    position: absolute;
    top: 1840px;
    width: 838px;
  }
  
  .about-us .name {
    color: transparent;
    font-family: var(--font-family-gilroy-semibold);
    font-size: 35px;
    letter-spacing: 0.88px;
    line-height: 41.3px;
    min-height: 454px;
    width: 838px;
  }
  
  .about-us .founder-name {
    color: black;
    font-weight: 400;
  }
  
  .about-us .founder-title {
    color: black;
    font-family: var(--font-family-gilroy-regular-italic);
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 0.82px;
    line-height: 38.9px;
  }
  
  .about-us .founder-introduction {
    color: #000000c9;
    font-family: var(--font-family-gilroy-regular);
    font-size: var(--font-size-l);
    font-weight: 400;
    letter-spacing: 0.60px;
    line-height: 28.3px;
  }
  
  .about-us .adem-ottoman-founder {
    color: transparent;
    font-family: var(--font-family-gilroy-semibold);
    font-size: 35px;
    letter-spacing: 0.88px;
    line-height: 41.3px;
    margin-top: 24px;
    min-height: 454px;
    width: 838px;
  }
  
  .about-us .flex-col-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 125px;
    min-height: 425px;
    position: absolute;
    top: 2876px;
    width: 519px;
  }
  
  .about-us .different-heading {
    -webkit-text-stroke: 1px black;
    color: #070707;
    font-family: var(--font-family-gilroy-semibold);
    font-size: 78px;
    font-weight: 400;
    letter-spacing: 1.95px;
    line-height: 77.2px;
    min-height: 83px;
    text-align: center;
    white-space: nowrap;
    width: 413px;
  }
  
  .about-us .different-subtitle-main {
    align-self: flex-end;
    letter-spacing: 0.57px;
    line-height: 35.3px;
    margin-top: 30px;
    min-height: 312px;
    width: 506px;
  }
  
  .about-us .rectangle-7 {
    height: 527px;
    left: 730px;
    position: absolute;
    top: 2835px;
    width: 545px;
  }
  
  .about-us .flex-col-4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 102px;
    min-height: 422px;
    position: absolute;
    top: 3503px;
    width: 1234px;
  }
  
  .about-us .cta-overlap {
    height: 254px;
    position: relative;
    width: 1234px;
  }
  
  .about-us .cta-title {
    -webkit-text-stroke: 1px black;
    color: transparent;
    font-family: var(--font-family-gilroy-semibold);
    font-size: 78px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.39px;
    line-height: 77.2px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1234px;
  }
  
  .about-us .cta-contact-button {
    background: linear-gradient(180deg, rgb(248, 220, 224) 0%, rgb(245, 221, 231) 11.66%, rgb(239, 222, 239) 24%, rgb(236, 223, 245) 35.75%, rgb(230, 224, 254) 47.94%, rgb(233, 223, 255) 58.39%, rgb(236, 220, 253) 69.13%, rgb(239, 218, 252) 80.01%, rgb(243, 216, 251) 89.74%, rgb(245, 214, 250) 100%);
    border-radius: 11px;
    display: flex;
    height: 64px;
    margin-right: 8.0px;
    margin-top: 0px;
    overflow: hidden;
    width: 200px;
    cursor: pointer;
    outline: none;
    border: none;
  }
  
  .about-us .get-in-touch {
    color: black;
    font-family: var(--font-family-gilroy-regular);
    font-size: 24px;
    font-weight: 400;
    height: 37px;
    letter-spacing: -0.12px;
    line-height: 26.9px;
    margin-left: 33px;
    margin-top: 21px;
    width: 144px;
  }
  
  
  .about-us .all-rights-reserved {
    letter-spacing: -0.10px;
    line-height: 23.5px;
    margin-left: 550.0px;
    margin-top: 75px;
    min-height: 32px;
    width: 352px;
  }
  
  .about-us .cta-footer-space {
    color: black;
    font-family: var(--font-family-gilroy-semibold-regular);
    font-size: 21px;
    font-weight: 400;
  }
  
  .about-us .cta-footer-agency-name {
    color: black;
    font-family: var(--font-family-gilroy-light);
    font-size: 21px;
    font-weight: 400;
  }
  

.gilroy-light--normal-black-21px {
    color: black;
    font-family: var(--font-family-gilroy-light);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gilroy-thin-regular-normal-black-21px {
    color: black;
    font-family: var(--font-family-gilroy-thin);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
  }
  
  .poppins-normal-black-22px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gilroy-light--normal-black-23px {
    color: var(--black);
    font-family: var(--font-family-gilroy-light);
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gilroy-bold-regular-normal-white-78px {
    color: white;
    font-family: var(--font-family-gilroy-semibold);
    font-size: 78px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gilroy-bold-regular-normal-cod-gray-78px {
    color: #070707;
    font-family: var(--font-family-gilroy-semibold);
    font-size: 78px;
    font-style: normal;
    font-weight: 400;
  }


.about-link {
  display: inline-block;
  position: relative;
}

.about-link::after {
  content: '';
  position: absolute;
  width: 56%;
  transform: scaleX(0);
  top: 22px !important;
  height: 2px;
  left: 33px;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.about-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.services-link {
  display: inline-block;
  position: relative;
}

.services-link::after {
  content: '';
  position: absolute;
  width: 55%;
  transform: scaleX(0);
  top: 22px !important;
  height: 2px;
  left: 11px;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.services-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.portfolio-link {
  display: inline-block;
  position: relative;
}

.portfolio-link::after {
  content: '';
  position: absolute;
  width: 54%;
  transform: scaleX(0);
  top: 22px !important;
  height: 2px;
  left: -1px !important;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.portfolio-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}